<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body class="claro">
  .container 
    .row 
      .twelve.columns
        header
          h1 El badulaque
    .row 
      .twelve.columns
        ul.nav_vertical
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
    .row 
      .twelve.columns
        h1 Main Content
    .row 
      .ten.columns
        footer 
          p &copy; 2024 El badulaque
          button.boton-Principal Volver arriba
          button.boton-Secundario Volver arriba
          button.boton-Terciario Volver arriba
          button.boton-Cuaternario Volver arriba
          

</body>
</html>
