<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body class= "oscuro">
  .container 
    .row 
      .ten.columns
        header
          h1 El badulaque
    .row 
      .two.columns
        ul.nav_vertical
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
      .eight.columns
        h1 Main Content
    .row 
      .ten.columns
        footer
          p &copy; 2024 El badulaque dasa
</body>
</html>
