<!DOCTYPE html>
<html lang="en">
<head>
  include cabecera
</head>
<body class= "oscuro">
  .container 
    .row 
      .ten.columns
        header
          h1 El badulaque
    .row 
      .two.columns
        ul.nav_vertical
          li: a(href="/") Home
          li: a(href="/about") About
          li: a(href="/contact") Contact
      .eight.columns
        .galeria-12
          img(src="../img/image.png", alt="imagen1")
          img(src="../img/image.png", alt="imagen2")
          img(src="../img/image.png", alt="imagen3")
          img(src="../img/image.png", alt="imagen3")
          img(src="../img/image.png", alt="imagen1")
          img(src="../img/image.png", alt="imagen2")
          img(src="../img/image.png", alt="imagen3")
          img(src="../img/image.png", alt="imagen3")
          img(src="../img/image.png", alt="imagen1")
          img(src="../img/image.png", alt="imagen2")
          img(src="../img/image.png", alt="imagen3")
          img(src="../img/image.png", alt="imagen3")
        h1 Main Content
    .row 
      h3 Galeria con flexbox
      .galeria-8
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")
    .row
      h3 Galeria con float
      .galeria-float-8
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen1")
        img(src="../img/image.png", alt="imagen2")
        img(src="../img/image.png", alt="imagen3")
        img(src="../img/image.png", alt="imagen3")      
        
    .row 
      .ten.columns
        footer
          p &copy; 2024 El badulaque dasa
</body>
</html>
