/* BASE: columnas móviles */
@mixin generar_columnas($maxColumns) {
    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    @for $i from 1 through $maxColumns {
        .col-#{$i} {
            flex: 0 0 calc(100% / $maxColumns * $i);
            width: calc(100% / $maxColumns * $i);
        }
    }
}

/* RESPONSIVE al estilo Bootstrap */
@mixin generar_columnas_dimension($maxColumns, $dimension) {
    @for $i from 1 through $maxColumns {
        .col-#{$dimension}-#{$i} {
            flex: 0 0 calc(100% / $maxColumns * $i);
            width: calc(100% / $maxColumns * $i);
        }
    }
}

@include generar_columnas(12);

@media (min-width: 576px) {
    @include generar_columnas_dimension(12, sm);
}

@media (min-width: 768px) {
    @include generar_columnas_dimension(12, md);
}

@media (min-width: 992px) {
    @include generar_columnas_dimension(12, lg);
}

@media (min-width: 1200px) {
    @include generar_columnas_dimension(12, xl);
}
