/* === GRID TIPO BOOTSTRAP === */
.row {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}


[class*="col-"] {
  box-sizing: border-box;
  padding: 10px;
}


/* 12 columnas */
.col-1  { flex: 0 0 8.333%; }
.col-2  { flex: 0 0 16.666%; }
.col-3  { flex: 0 0 25%; }
.col-4  { flex: 0 0 33.333%; }
.col-5  { flex: 0 0 41.666%; }
.col-6  { flex: 0 0 50%; }
.col-7  { flex: 0 0 58.333%; }
.col-8  { flex: 0 0 66.666%; }
.col-9  { flex: 0 0 75%; }
.col-10 { flex: 0 0 83.333%; }
.col-11 { flex: 0 0 91.666%; }
.col-12 { flex: 0 0 100%; }


/* DEMO */
.rellenitos {
  background: #bfbde0;
  border: 1px solid #fff;
}



//media query para tablet y desktop
@media (min-width: 768px) {
  .col-md-1  { flex: 0 0 8.333%; }
  .col-md-2  { flex: 0 0 16.666%; }
  .col-md-3  { flex: 0 0 25%; }
  .col-md-4  { flex: 0 0 33.333%; }
  .col-md-5  { flex: 0 0 41.666%; }
  .col-md-6  { flex: 0 0 50%; }
  .col-md-7  { flex: 0 0 58.333%; }
  .col-md-8  { flex: 0 0 66.666%; }
  .col-md-9  { flex: 0 0 75%; }
  .col-md-10 { flex: 0 0 83.333%; }
  .col-md-11 { flex: 0 0 91.666%; }
  .col-md-12 { flex: 0 0 100%; }
}
//media query para desktop
@media (min-width: 1100px) {
  .col-lg-1  { flex: 0 0 8.333%; }
  .col-lg-2  { flex: 0 0 16.666%; }
  .col-lg-3  { flex: 0 0 25%; }
  .col-lg-4  { flex: 0 0 33.333%; }
  .col-lg-5  { flex: 0 0 41.666%; }
  .col-lg-6  { flex: 0 0 50%; }
  .col-lg-7  { flex: 0 0 58.333%; }
  .col-lg-8  { flex: 0 0 66.666%; }
  .col-lg-9  { flex: 0 0 75%; }
  .col-lg-10 { flex: 0 0 83.333%; }
  .col-lg-11 { flex: 0 0 91.666%; }
  .col-lg-12 { flex: 0 0 100%; }
}
