@mixin hide-column($breakpoint, $column-index) {
    @media (max-width: map-get($breakpoints, $breakpoint)) {
        > *:nth-child(#{$column-index}) {
            display: none;
        }
    }
}

$breakpoints: (
    'xs': 576px,
    'sm': 768px,
    'md': 992px,
    'lg': 1200px,
    'xl': 1400px
) !default;

