.container.mt-4
  .row
    .col-md-8
      img.img-fluid(src="../../images/imagenprueba.png" alt="Imagen deportes")

    .col-md-4
      h2 Product Name
      h4.text-success $120.99
      p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed purus arcu.
      p Morbi euismod neque sit amet mauris ultrices..
      
.container.mt-4
  .row.text-center

    .col-md-2
      img.img-fluid(src="../../images/imagenprueba.png")

    .col-md-2
      img.img-fluid(src="../../images/imagenprueba.png")

    .col-md-2
      img.img-fluid(src="../../images/imagenprueba.png")

    .col-md-2
      img.img-fluid(src="../../images/imagenprueba.png")
    .col-md-4
      button.btn.btn-primary.mt-2 Add to bag

