.acordeon
    .item
        h3.acordeon-titulo Coches nuevos
        .acordeon-contenido Artículo sobre coches nuevos

    .item
        h3.acordeon-titulo Coches usados
        .acordeon-contenido Artículo sobre coches usados

    .item
        h3.acordeon-titulo Coches antiguos
        .acordeon-contenido Artículo sobre coches antiguos
