.carrusel
    .carrusel-contenedor
        img(src="../img/img1.png" alt="imagen 1" class="activo")
        img(src="../img/image.png" alt="imagen 2")
        img(src="../img/img1.png" alt="imagen 3")

    .carrusel-controles
        button.carrusel-prev &lsaquo;
        button.carrusel-next &rsaquo;
