doctype html
html(lang="en")
  head
    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1")
    link(rel="stylesheet", href="../css/milligram.min.css")
    link(rel="stylesheet", href="../css/misestilos.css")
    title Actividad 8 - Miligram Grid

  body
    header
      h1 Ejemplo Actividad 8

      .container
        .row
          .col-12.text-center.rellenitos
            h2 Columna 12
          .col-12.text-center.rellenitos
            h2 Columna 12 en la misma row

    main
      .container
        .row
          .col-4.rellenitos
            p Col 4
          .col-8.rellenitos
            p Col 8

        .row
          .col-3.rellenitos
            p Col 3
          .col-3.rellenitos
            p Col 3
          .col-6.rellenitos
            p Col 6

    footer
      p © 2024 Miligram Grid modificada por Mikel
