extends layout.pug

block content
    .container.mt-3
        h1.text-center.mb-4 Sugerencias de itinerarios
        p.text-center.text-muted Encuentra destinos familiares recomendados.

        .row
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
            .col-12.col-sm-6.col-lg-4
                include itinerario_1.pug
