.col-12.col-sm-6.col-lg-4
  .card-itinerario
    .card-img
      img(src="../img/image.png" alt="foto")
    .card-stars ★★★☆☆
    h3.card-title Lisboa con niños
    p.card-text Plan familiar de 2 días con aventura y naturaleza.
