header
    .container
        .row
            .col-12
                ul.nav_horizontal
                    li: a(href="index.html") Homes
                    li: a(href="about.html") About
                    li: a(href="services.html") Services
                    li: a(href="contact.html") Contact
