@mixin duplicar-columnas($columns: 12, $factor: 2) {
  @for $i from 1 through $columns {
    $width: (($i * $factor) / $columns) * 100%;
    .col-#{$i} {
      flex: 0 0 $width;
      max-width: $width;
    }
  }
}

@include duplicar-columnas(12, 2);


