<!doctype html>
<html lang="en" data-bs-theme="auto">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="description" content="" />
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors"/>
  <meta name="generator" content="Astro v5.13.2" />
  <title>Pricing example · Bootstrap v5.3</title>
  <link rel="canonical" href="https://getbootstrap.com/docs/5.3/examples/pricing/"/>
  <script src="../js/color-modes.js"></script>
  <link href="../css/bootstrap.min.css" rel="stylesheet" />
  <meta name="theme-color" content="#712cf9" />
  <link href="../css/pricing.css" rel="stylesheet" />
  <link href="../sign-in.css" rel="stylesheet" />

  </head> 
  <body>

      header
        include header
      main
        .container.mt-4
          .row
            .col-8.text-center
              img.img-fluid.w-100(src="../img/image.png", alt="sad")
            .col-4
              h1 Product Name
              P 120.99 €
              P Lorem Lorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporisLorem ipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporis atque voluptatum soluta ab libero consectetur obcaecati mollitia asperiores, necessitatibus,  lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia natus, aliqui atque voluptatum soluta ab libero consectetur obcaecati mollitia asperiores, necessitatibus,  lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia natus, aliquiipsum dolor sit amet consectetur adipisicing elit. Blanditiis corporis atque voluptatum soluta ab libero consectetur obcaecati mollitia asperiores, necessitatibus,  lorem Lorem ipsum dolor sit, amet consectetur adipisicing elit. Mollitia natus, aliquid quibusdam reiciendis, quia esse qui sint nam obcaecati magnam, aliquam beatae est laudantium magni ullam doloremque corrupti sunt oditquidem sit? Accusamus deleniti tenetur, labore tempora maiores deserunt voluptatem!
        .container.mt-4
          .row.text-center
            .col-2
              img.img-fluid(src="../img/image.png", alt="sad")
            .col-2
              img.img-fluid(src="../img/image.png", alt="sad")
            .col-2
              img.img-fluid(src="../img/image.png", alt="sad")
            .col-2
              img.img-fluid(src="../img/image.png", alt="sad")
            .col-4
              button.btn.btn-primary Comprar
            
        footer 
      <script src="../js/bootstrap.bundle.min.js" class="astro-vvvwv3sm"></script>
  </body>
</html>