
@mixin generar_columnas ( $dimension){
  $i: 0;
  
  @each $tam in one, two, three, four, five, six, seven, eight, nine, ten, eleven, twelve {
    @if $tam ==one{
      .#{$tam}-#{$dimension}.column{ 
        width: 4.66666666667%; 
      }
      
    }
    .#{$tam}-#{$dimension}.columns {
      width: 4.66666666667% + $i*8.66666666667%;
    
      @if $tam == twelve {
        margin-left: 0;
      }
    }

    .offset-#{$dimension}-by-#{$tam}.column,
    .offset-#{$dimension}-by-#{$tam}.columns{ 
      margin-left: 8.66666666667%*($i+1);
    }
    $i: $i + 1;
    
  }

    
} 

