@use 'mixins' as *;


/* For devices larger than 550px */
@media (min-width: 550px) {
 
    .container-fluid {
      width: 100%; }
  
    .desaparecer{
      display: none;
    }  
    
    .aparecer{
      display: block;
    }
}  

@media (min-width: 750px) {
    .container {
      width: 80%; }
  
    .container-fluid {
      width: 100%; }
  
    .desaparecer-lg{
      display: none;
    }  
    
    .aparecer-lg{
      display: block;
    }
  
    .column,
    .columns { 
      margin-left: 4%; }
    .column:first-child,
    .columns:first-child {
      margin-left: 0; }
  
    @include generar_columnas("md");
  
    .one-third-lg.column               { width: 30.6666666667%; }
    .two-thirds-lg.column              { width: 65.3333333333%; }
  
    .one-half-lg.column                { width: 48%; }
  
    .offset-by-one-third.column,
    .offset-by-one-third.columns    { margin-left: 34.6666666667%; }
    .offset-by-two-thirds.column,
    .offset-by-two-thirds.columns   { margin-left: 69.3333333333%; }
  
    .offset-by-one-half.column,
    .offset-by-one-half.columns     { margin-left: 52%; }
  
  }
  
  /* Larger than desktop */
  @media (min-width: 1000px) {
    @include generar_columnas("lg");
  }
  
  /* Larger than Desktop HD */
  @media (min-width: 1200px) {
    @include generar_columnas("xl");
  }
  
  
  
  
  