$columnas: ("one":1,
    "two":2,
    "three":3,
    "four":4,
    "five":5,
    "six":6,
    "seven":7,
    "eight":8,
    "nine":9,
    "ten":10);


@each $name,
$val in $columnas {

    .#{$name}.column,
    .#{$name}.columns {
        width: (100%/10)*$val;
        margin: 0;
    }
}