/* CONTENEDOR FLEX */
.navigation {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%; /* IMPORTANTE */
}



ul[class*="nav_"] {
    display: flex;
    margin: 0;
    gap: 1rem;

    &.nav_horizontal {
        flex-direction: row;
    }

    &.nav_vertical {
        flex-direction: column;
    }

    li {
        list-style: none;
        padding: 0.5rem;

        a {
            text-decoration: none;
            font-weight: bold;
        }
    }
}

.nav-logo {
    font-size: 1.4rem;
    font-weight: bold;
}

.nav-burger {
    display: none;
    cursor: pointer;

    svg {
        width: 32px;
        height: 32px;
        fill: rgb(70, 40, 40);
    }
}

.nav-search {
    cursor: pointer;

    svg {
        width: 28px;
        height: 28px;
        fill: white;
    }
}

@media (max-width: 768px) {
    ul[class*="nav_"] {
        display: none;
    }

    .nav-burger {
        display: block;
    }
}
